__pycache__/
submission/
*.csv
*.npy
*.ipynb
*.pyc
*.png
*.pdf
*.svg
*.sh
.ipynb_checkpoints/
.DS_Store
job.slurm.*
!*toy_example.png
!*toy_data.png
!*cplvm_toy.png
!*toy_foreground.csv
!*toy_background.csv
